/* Add CSS Styling */
body {
    font-family: verdana,"DejaVu Sans",sans-serif;
}

.Oddnum {
    background-color:rgb(230, 162, 173);

}


#num2 {
    color:blue ;
    font-size: 36px;
}

.num3#num4 {
    font-size: 24px;
}

#num4 {
    background-color: lightgreen;
    font-weight: bold;

}