body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.small-para,.child {
  font-size: 10px;
  font-weight: 800;
}


.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

